h1,
h2,
h3,
p {
    color: rgb(66, 66, 66);
    font-family: "Open Sans", sans-serif;
}

h3 {
    padding-top: 1em;
}

article {
    margin-top: 2em;
}

.jumbotron {
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.text-over-banner {
    position: absolute;
    top: 200px;
}

.text-over-banner h1,
.text-over-banner p {
    color: whitesmoke;    
}

.navbar {
    background-color: rgb(247, 167, 87);
}

/* navbar */
.navbar-dark 
.navbar-nav 
.nav-link {
    color: rgba(255, 255, 255, 1);
    font-size: 1.5em;
}

.objects .card {
    margin-bottom: 0.5em;
}

footer {
    background-color: rgb(247, 167, 87);
}
footer,
footer a,
footer .fab {
    color: white;
}
footer a:hover {
    font-size: 1.5em;
    color: white;
}

li svg {
    color: white;
}

@media screen and (min-width:992px) {
    .objects .card {
        max-width: calc(50% - 7px);
    }
}